[submodule "portfolio"]
	path = portfolio
	url = https://github.com/pulkitbajaj1999/portfolio.git
	branch = main
[submodule "docker-scram"]
	path = docker-scram
	url = https://github.com/pulkitbajaj1999/docker-scram.git
	branch = main
[submodule "chess"]
	path = chess
	url = https://github.com/pulkitbajaj1999/chess.git
	branch = main
[submodule "musicwire"]
	path = musicwire
	url = https://github.com/pulkitbajaj1999/musicwire.git
	branch = main
